body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #ecf0f1; 
    color: #34495e; 
}

.navbar {
    overflow: hidden;
    background-color: #2c3e50;
    display: flex;
    align-items: center;
    height: 60px;
    padding: 0 20px;
}

.navbar-title {
    color: #e74c3c; /* Orange */
    font-size: 24px;
    font-weight: 600;
    margin-right: auto;
    transition: color 0.3s; /* Add transition effect */
}

.navbar-title:hover {
    color: #f1c40f; /* Lighter orange on hover */
}

.navbar-links {
    display: flex;
    gap: 5px;
    margin-left: auto;
}

.navbar-links a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    transition: color 0.3s, background-color 0.3s; /* Add transition effect */
}

.navbar-links a:hover {
    background-color: #3498db; /* Light blue on hover */
    color: #fff; /* White text on hover */
}

.about {
  padding: 100px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-img img {
  width: 200px;
  border-radius: 50%;
}

.col-right {
  margin-left: 40px;
}

.section-title {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.section-title span {
  color: #e74c3c; /* Orange */
}

h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #2c3e50; /* Dark gray */
}

p {
  font-size: 1em;
  line-height: 1.6;
  margin-bottom: 20px;
}

.cta {
  display: inline-block;
  padding: 10px 20px;
  background-color: #2c3e50; /* Dark blue */
  color: #fff; /* White */
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.cta:hover {
  background-color: #3498db; /* Light blue on hover */
}

/* college journey */
#journey .journey {
	flex-direction: column;
	max-width: 1200px;
	margin: 0 auto;
	padding: 100px 0;
  }
  
  #journey .journey-header h1 {
	margin-bottom: 50px;
  }
  
  #journey .all-projects {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
  }
  
  #journey .project-item {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 80%;
	margin: 20px auto;
	overflow: hidden;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	transition: transform 0.3s ease;
  }
  
  #journey .project-item:hover {
	transform: translateY(-5px);
  }
  
  #journey .project-info {
	padding: 30px;
	flex-basis: 50%;
	height: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
	color: white;
  }
  
  #journey .project-info h1 {
	font-size: 2.5rem;
	font-weight: 500;
  }
  
  #journey .project-info h2 {
	font-size: 1.5rem;
	font-weight: 500;
	margin-top: 10px;
  }
  
  #journey .project-info p {
	color: white;
  }
  
  #journey .project-img {
	flex-basis: 50%;
	height: 300px;
	overflow: hidden;
	position: relative;
  }
  
  #journey .project-img:after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
	opacity: 0.7;
  }
  
  #journey .project-img img {
	transition: 0.3s ease transform;
  }
  
  #journey .project-item:hover .project-img img {
	transform: scale(1.1);
  }
  
  /* about me */
  #about .about {
	flex-direction: column;
	text-align: center;
	max-width: 1200px;
	margin: 0 auto;
	padding: 100px 20px;
  }
  
  #about .col-left {
	width: 250px;
	height: 360px;
  }
  
  #about .col-right {
	width: 100%;
  }
  
  #about .col-right h2 {
	font-size: 2rem;
	font-weight: 600;
	letter-spacing: 0.1rem;
	margin-bottom: 10px;
	color: #e74c3c; /* Orange */
  }
  
  #about .col-right p {
	font-size: 1.2rem;
	line-height: 1.6;
	margin-bottom: 20px;
  }
  
  #about .col-right .cta {
	color: white;
	background-color: #e74c3c; /* Orange */
	margin-bottom: 50px;
	padding: 10px 20px;
	font-size: 1.5rem;
	border-radius: 5px;
	transition: background-color 0.3s;
  }
  
  #about .col-right .cta:hover {
	background-color: #f1c40f; /* Lighter orange on hover */
  }
  
  #about .col-left .about-img {
	height: 100%;
	width: 100%;
	position: relative;
	border: 10px solid white;
  }
  
  #about .col-left .about-img::after {
	content: '';
	position: absolute;
	left: -33px;
	top: 19px;
	height: 98%;
	width: 98%;
	border: 7px solid #e74c3c; /* Orange */
	z-index: -1;
  }
  
  /* End About Section */
  